<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>SB Admin - Start Bootstrap Template</title>
  <!-- Bootstrap core CSS-->
  <link href="../css/bootstrap/bootstrap.css" rel="stylesheet">
  <link href="../css/menu-sidebar.css" rel="stylesheet">
  <link href="../css/style.css" rel="stylesheet">
</head>

<body>
  
   <div class="container-fluid nopadding">
    <div id="wrapper">
      <div class="overlay"></div>
      <nav class="navbar navbar-inverse navbar-fixed-top"
      id="sidebar-wrapper" role="navigation">
      <ul class="nav sidebar-nav">
        <li class="sidebar-brand">
          <a href="../index.html">Home</a>
        </li>
        <li><a href="rocio.html">Rocio</a></li>
        <li><a href="#">Luis</a></li>
        <li><a href="ingrid.html">Ingrid</a></li>      
      </ul>
    </nav>


    <section id="page-content-wrapper">
      <button type="button" class="hamburger is-closed" data-toggle="offcanvas">
        <span class="hamb-top"></span>
        <span class="hamb-middle"></span>
        <span class="hamb-bottom"></span>
      </button>
<!--   aqui va mi menu diseño personal-->
     <div class="diseñoluis">
        <div class="container">
          <div class="row">
            <div class="col-md-5">
             <img class="adaptar img-fluid img-circle" src="../img/luis.png">
            </div>
            <div class="col-md-7">
             <h2 class="section-heading text-primary">Luis Garc&iacute;a</h2>
             <br>
            <p>Hola! mi nombre es Luis Gracia tengo 24 años, soy diseñador gráfico mi estilo esta mas relacionado con los nuevo y diferente con colores y formar fuera de lo común para llamar la atención de el publico.
            Aqu&iacute; les muestro algunos de mis trabajos que e realizado en estos años.
            </p>
            </div>
          </div>
          <br>
          <br>
          <br>
        <div class="row">
          <h1 class="text-center bg-info">Ilustraci&oacute;n</h1>
          <div class="col-md-4">
             <div class="card text-center">
               <img class="adaptar img-fluid" src="../img/ilus2.jpg">
               <div class="card-body">
                 <h3 class="section-heading text-primary">Esferas 3D</h3>
                 <h5 class="text-muted">Descripci&oacute;n</h5>
                 <p class="label label-info"> Freelance <br> 
                 T&eacute;cnica: digital <br>
                Año: 2017 </p>
              </div>
          
             </div>
          </div>
           <div class="col-md-4">
            <div class="card text-center">
            <img class="adaptar img-fluid" src="../img/ilus1.jpg">
              <div class="card-body">
               <h3 class="section-heading text-primary">Retrato</h3>
               <h5 class="text-muted">Descripci&oacute;n</h5>
               <p class="label label-info">Freelance <br> 
                 T&eacute;cnica: digital <br>
                Año: 2017 </p>
              </div>

            </div>
           </div>
         <div class="col-md-4">
           <div class="card text-center">
            <img class="adaptar img-fluid" src="../img/ilus3.jpg">
            <div class="card-body">
           <h3 class="section-heading text-primary">Animal c&oacute;mico</h3>
           <h5 class="text-muted">Descripci&oacute;n</h5>
           <p class="label label-info">Freelance <br> 
                 T&eacute;cnica: digital <br>
                Año: 2016 </p>
            </div>
           </div>
         </div>

        </div>

        <div class="row">
          <h1 class="text-center bg-info">Fotograf&iacute;a</h1>
          <div class="col-md-4">
             <div class="card text-center">
               <img class="adaptar img-fluid" src="../img/foto1.jpg">
               <div class="card-body">
                 <h3 class="section-heading text-primary">Foto con modelo</h3>
                 <h5 class="text-muted">Descripci&oacute;n</h5>
                 <p class="label label-info"> Modelo Andrea Segovia en la Escuela de Artes de Santa Ana <br>
                Año: 2017 </p>
              </div>
          
             </div>
          </div>
           <div class="col-md-4">
            <div class="card text-center">
            <img class="adaptar img-fluid" src="../img/foto2.jpg">
              <div class="card-body">
               <h3 class="section-heading text-primary">Bodeg&oacute;n</h3>
               <h5 class="text-muted">Descripci&oacute;n</h5>
               <p class="label label-info">Bodeg&oacute;n realizado en clases <br>
                Año: 2017 </p>
              </div>

            </div>
           </div>
         <div class="col-md-4">
           <div class="card text-center">
            <img class="adaptar img-fluid" src="../img/foto3.jpg">
            <div class="card-body">
           <h3 class="section-heading text-primary">Abeja</h3>
           <h5 class="text-muted">Descripci&oacute;n</h5>
           <p class="label label-info">Foto tomada en jard&iacute;n bot&aacute;nico <br>
                Año: 2017 </p>
            </div>
           </div>
         </div>

        </div>

        <div class="row">
          <h1 class="text-center bg-info">Diseño Publicitario</h1>
          <div class="col-md-4">
             <div class="card text-center">
               <img class="adaptar img-fluid" src="../img/di2.jpg">
               <div class="card-body">
                 <h3 class="section-heading text-primary">Error 404</h3>
                 <h5 class="text-muted">Descripci&oacute;n</h5>
                 <p class="label label-info"> Diseño de error de pagina web <br>
                año: 2016 </p>
              </div>
          
             </div>
          </div>
           <div class="col-md-4">
            <div class="card text-center">
            <img class="adaptar img-fluid" src="../img/di1.jpg">
              <div class="card-body">
               <h3 class="section-heading text-primary">Camisa</h3>
               <h5 class="text-muted">Descripci&oacute;n</h5>
               <p class="label label-info"> Diseño de camisa KOF <br>
                año: 2017 </p>
              </div>

            </div>
           </div>
         <div class="col-md-4">
           <div class="card text-center">
            <img class="adaptar img-fluid" src="../img/di3.jpg">
            <div class="card-body">
           <h3 class="section-heading text-primary">Logo</h3>
           <h5 class="text-muted">Descripci&oacute;n</h5>
           <p class="label label-info">Diseño de logo TEAM YogaFire <br>
             año: 2017 </p>
            </div>
           </div>
         </div>

        </div>

     </div>

    </div>

   <footer>
       <div class="container">
         <div class="row">
           <img class="img-fluid" src="../img/banner 1.jpg">
         </div>
       </div> 

   </footer>



    </section>
   </div>



    <!-- Bootstrap core JavaScript-->
    <script src="../js/jquery/jquery-1.12.4.js"></script>
    <script src="../js/bootstrap/bootstrap.js"></script>
    <script src="../js/sb-admin.js"></script>
      <script type="text/javascript">
      $(document).ready(function () {
          var trigger = $('.hamburger'),
          overlay = $('.overlay'),
          isClosed = false;

          trigger.click(function () {
          hamburger_cross();      
    });

    function hamburger_cross() {

      if (isClosed == true) {          
        overlay.hide();
        trigger.removeClass('is-open');
        trigger.addClass('is-closed');
        isClosed = false;
      } else {   
        overlay.show();
        trigger.removeClass('is-closed');
        trigger.addClass('is-open');
        isClosed = true;
      }
  }
  
  $('[data-toggle="offcanvas"]').click(function () {
        $('#wrapper').toggleClass('toggled');
  });  
});
  </script> 
  </div>
</body>

</html>
